/* FONTES */

@import url('https://fonts.googleapis.com/css?family=Electrolize');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #cfd8e5;
    font-size: 50px;
}

/* FONTES */

.line::after {
    display: block;
    content: "";
    clear: both;
}

.tamanho {
    width: 1200px;
    margin: auto;
}

/* CABEÇALHO */

header {
    background-image: url(../imagens/topo.jpg);
    background-attachment: fixed;
    padding-bottom: 20px;
    background-repeat: repeat-x;
}

header h1 {
    font-family: 'Electrolize', sans-serif;
    font-size: 200%;
    text-align: center;
    opacity: 0.5;
    margin: 50px;
    color: #d8e3e8;
    text-shadow: 2px 2px 0px #142a52;
    -webkit-transition: all 1.2s;
}

header h1:hover,
header .piramide:hover {
    color: #f2fbff;
    opacity: 1.0;
}

header p {
    font-family: 'Bree Serif', serif;
    color: #d9f0fc;
    text-shadow: 2px 2px 0px #142a52;
    font-size: 36%;
    text-align: center;
    margin: 0 0 10px 0;
    -webkit-transition: all 1.5s;


}

header p:hover {
    letter-spacing: 1.0px;
    text-shadow: 5px 5px 15px rgb(117, 179, 232);
}

header .piramide {
    background-image: url(../imagens/skynetbranco.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
    -webkit-transition: all 1.2s;
}

/* CORPO DA PÁGINA */

article {
    padding: 1px;
}

.cursos {
    margin: 10px;
}

article {
    background-color: #e1e4ea;
    padding: 1px;
}

section h1 {
    font-family: 'Bree Serif', serif;
    color: #142a52;
    font-size: 68%;
    text-align: center;
    margin: 20px 0px 30px 0px;
    text-shadow: 1px 1px 3px #81b5ea;
}

section h3 {
    font-family: 'Bree Serif', serif;
    color: #142a52;
    font-size: 44%;
    text-align: center;
    margin: 15px 0px 15px 0;
    text-shadow: 1px 1px 3px #81b5ea;
}

section h4 {
    font-family: 'Bree Serif', serif;
    font-size: 60%;
    color: #f3f3f3;
    margin: 3px;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 1px 1px 5px #015574;
}

section h5 {
    font-family: 'Bree Serif', serif;
    font-size: 60%;
    color: rgb(20, 49, 82);
    text-shadow: 1px 1px 3px #81b5ea;
    margin: 3px;
    text-align: center;
    margin-bottom: 20px;
}

p.cursos {
    font-family: 'Bree Serif', serif;
    font-size: 30%;
    color: #242627;
    text-align: justify;
    line-height: 19px;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
}

a.cursos {
    font-family: 'Bree Serif', serif;
    font-size: 30%;
    color: #142a52;
    text-decoration: none;
    text-align: center;
}

a.cursos:hover {
    font-family: 'Bree Serif', serif;
    font-size: 30%;
    color: #5374b1;
    text-decoration: none;
    text-align: center;
}

img.cursos {
    width: 135px;
    height: 101px;
    display: flex;
    margin: auto;
    border-radius: 20px;
    box-shadow: 4px 4px 10px #58849f;
    transition: 0.8s;

}

img.cursos:hover {
    box-shadow: 6px 6px 12px #bf9494;
    transform: translateY(-8px)
}

.caixaequipe {
    background-color: rgba(6, 84, 131, 0.84);
    width: 100%;
    padding: 25px 0px 45px 0px;
}

.caixamembro {
    font-family: 'Bree Serif', serif;
    font-size: 30%;
    color: #cfd8e5;
    text-shadow: 1px 1px 5px #05445c;
    text-align: justify;
    line-height: 19px;
    padding: 10px;
    height: 190px;

}

.fotocaixa {
    margin: auto;
    border-radius: 150px;
    width: 150px;
    height: 150px;
    background-position: center;
    position: relative;
    border: 3px solid #2a596c;
    -webkit-transition: all .6s;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.fotocaixa:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transform: scale(1.07);

}

/* MENU */

.left {
    float: left;
    margin: 20px;
}

.right {
    float: right;
}

header ul {
    list-style: none;
    text-align: right;
    padding: 0px;
    margin: 0px;
}

header li {
    display: inline-block;

}

header ul a:link,
header ul a:visited,
header li a {
    font-family: 'Bree Serif', serif;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    transition: 0.8s;
    font-size: 40%;

}


header li a:hover {
    color: rgb(128, 218, 255);
    border-radius: 40px 40px 40px 40px;
    background-color: rgba(117, 179, 232, 0.10);
    text-shadow: 3px 3px 15px rgb(117, 179, 232);

}

nav {
    margin: 20px;
}

/* RODAPE*/

footer {
    background-color: #083550;
    font-size: 80%;
}

footer p,
footer ul {
    font-size: 40%;
    color: #cfd8e5;
    text-shadow: 1px 1px 5px #1d8eba;
    text-align: justify;
    line-height: 19px;
    padding: 0px;
}

footer p {
    padding: 0px;
}

footer h5 {
    color: #cfd8e5;
    text-shadow: 1px 1px 5px #1d8eba;
    font-size: 50%;
    text-align: center;
    padding-bottom: 25px;
    text-decoration: none;
}

footer li {
    display: block;
    margin: 0px;
    padding-bottom: 30px;
    text-align: center;
}

footer a:link,
footer a:visited {
    text-decoration: none;
    color: #cfd8e5;
    text-shadow: 1px 1px 5px #1d8eba;
    text-align: justify;
}

.logoiftm {
    width: 155px;
    display: flex;
    margin: auto;
    transition: 0.8s;
    padding-top: 48px;
}

footer a.youtube, footer a.gmail, a.instagram, footer a.facebook {
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.7s;
    padding: 20px;
    background-size: 26px;
}



a.youtube {
    background-image: url(../icones/icone7_a.png)
}

.youtube:hover {
    filter:sepia(80%);
    box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.31);
    border-radius: 6px;
}

a.gmail {
    background-image: url(../icones/icone5_a.png)
}

.gmail:hover {
    filter:sepia(80%);
    box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.31);
    border-radius: 6px;    
}

a.instagram {
    background-image: url(../icones/icone1_a.png)
}

.instagram:hover {
    filter:sepia(80%);
    box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.31);
    border-radius: 6px;
}

a.facebook {
    background-image: url(../icones/icone4_a.png)
}

.facebook:hover {
    filter:sepia(80%);
    box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.31);
    border-radius: 6px;
}


