@font-face {
    font-family: arch;
    src: url(../fonte/ARCHITRN.TTF);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #cfd8e5;
    font-size: 50px;
}

.certificado {
    
    background-image: url(../certificado/certificado.png);
    background-repeat: no-repeat;
    margin: auto;
    width: 960px;
    height: 720px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

p.nome {
    font-family: arch;
    font-style: italic;
    position: absolute;
    top: 227px;
    left: 173px;
    font-size: 56px;
    width: 740px;
    text-align: center;
}

p.percCert {
    font-family: arch;
    font-style: italic;
    position: absolute;
    top: 332px;
    left: 176px;
    font-size: 25px;
    width: 740px;
    text-align: center;
}

.disciplina {

    font-family: arch;
    position: absolute;
    top: 390px;
    left: 266px;
    font-size: 40px;
    width: 580px;
    text-align: center;
    background-image: url(../imagens/milky-way-2695569_640.jpg);
    color: white;
    padding: 7px;
    border-radius: 10px 0px 10px 10px;
    box-shadow: 2px 3px 10px rgb(47, 103, 211);
}


