
*{
    margin: 0px;
    box-sizing: border-box;
  
}
div.tamanho{
    width: 400px;
    margin: 0 auto;
}
header{
    margin-top: 20px;
    height: 100px;
}
h1{
    
    
   text-align: center;
    padding-top: 30px;
   color: white;
}
p{
    color: white;
    text-align: center;
}
form{
    padding: 15px;
    text-align: center;
    
    color: white;
}
.fundo{
    background-image: url(../imagens/milky-way-2695569_640.jpg);
}