* {box-sizing: border-box;}
            
body {margin:0;}

[class^="col-"] {
    width:100%;
    float:left;
    padding:15px;
    transition: 0.7s;
}

@media only screen and (min-width:200px){
    .col-p-1{width:8.33%}
    .col-p-2{width:16.66%}
    .col-p-3{width:25%}
    .col-p-4{width:33.33%}
    .col-p-5{width:41.66%}
    .col-p-6{width:50%}
    .col-p-7{width:58.33%}
    .col-p-8{width:66.66%}
    .col-p-9{width:74.99%}
    .col-p-10{width:83.32%}
    .col-p-11{width:91.65%}
    .col-p-12{width:100%}
    
    .tamanho {
        width: 90%;
        transition: 0.7s;
    }
    
    img.cursos {
        width: 300px;
        height: 224px;
    }
    
    .logoiftm {
        width: 300px;
    }
    
    .flex {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    
    body {
        font-size: 78px;
    }
    
    header h1, nav, .left {
        margin: 10px;
    }  
      
}

@media only screen and (min-width:990px){
    .col-m-1{width:8.33%}
    .col-m-2{width:16.66%}
    .col-m-3{width:25%}
    .col-m-4{width:33.33%}
    .col-m-5{width:41.66%}
    .col-m-6{width:50%}
    .col-m-7{width:58.33%}
    .col-m-8{width:66.66%}
    .col-m-9{width:74.99%}
    .col-m-10{width:83.32%}
    .col-m-11{width:91.65%}
    .col-m-12{width:100%}
    
    .tamanho {
        width: 960px;
        transition: 0.7s;
    }
    
     img.cursos {
        width: 150px;
        height: 112px;
    }
    
    .logoiftm {
        width: 155px;
    }
    
    .flex {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
        
    body {
        font-size: 54px;
    }
    
    .midia {
        margin: 0px;
        display: inline-block;
        height: 45px;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width:1190px) {
    .col-g-1{width:8.33%}
    .col-g-2{width:16.66%}
    .col-g-3{width:25%}
    .col-g-4{width:33.33%}
    .col-g-5{width:41.66%}
    .col-g-6{width:50%}
    .col-g-7{width:58.33%}
    .col-g-8{width:66.66%}
    .col-g-9{width:74.99%}
    .col-g-10{width:83.32%}
    .col-g-11{width:91.65%}
    .col-g-12{width:100%}
    
    .tamanho {
        width: 1200px;
        transition: 0.7s;
    }
    
    img.cursos {
        width: 135px;
        height: 101px;
    }
    
    .logoiftm {
        width: 155px;
    }
    
    .flex {
        display: none;
    }
    
    body {
        font-size: 50px;
    }
    
     nav, .left {
        margin: 20px;
         
    }
    
    header h1 {
        margin: 40px;
    }
            
}


